# Auto detect text files and perform LF normalization on checkout and commit
* text=auto eol=lf

# Explicitly ensure script, code, configuration, and documentation files use LF
*.cjs text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.pdf binary
*.xlsx binary
*.pptx binary
*.exe binary
